
.swiper {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    background-color: black;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    padding: 0px 10%;
    justify-content: space-evenly;
}

.swiper-button-prev{
    top: 40% ;
    left: 10px;
}

.swiper-button-next{
    position: absolute;
    top: 40%;
    right: 0px; 
}

.swiper-button-next, .swiper-button-prev {
width: 50px;
height: 20px;
background-color: none;
position: absolute;
color: #fff;
cursor: pointer;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    color: orange
}

.swiper-text {
    color: orange;
    position: absolute;
    top: 35%;
    left: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 1px black;
}
