
.swiper {
    width: 100%;
    height: 84vh;
    overflow: hidden;
    display: flex;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

.swiper-button-prev{
    top: 48%;
    left: 10px;
}

.swiper-button-next{
    top: 50%;
    right: 0px;
}

.swiper-button-next, .swiper-button-prev {
    width: 50px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    color: #fff;
    cursor: pointer;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
   color: rgb(219, 97, 40);
}