 #product-latest-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(223, 210, 210);
    background-color: rgba(190, 189, 189, 0.517);
    margin-top: 10px;

}
.product-latest-grid {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: flex-start;

}

.product-image{
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: scale-down;
}
.product-name {
 color: rgb(65, 62, 62);
}

.product-card {
    text-align: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;


}

h2{
    text-align: center;
}