.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 40%;
    display: flex;
    margin: 10px;
}

#woman_fashion-button {
    position: absolute;
    left:20%;
    top:45%;
    width: 250px;
    height: 40px;
    background-color: red;
    border-radius: 8px;
    color: #fff;
    border: none;
}

#men_fashion-button {
    position: absolute;
    right: 20%;
    top: 45%;
    width: 250px;
    height: 40px;
    background-color: red;
    border-radius: 8px;
    color: #fff;
    border: none;
}