* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    position: absolute;
    top: 200px;
    left: 50%;
    justify-content: left;
    width: 50%;

}

h3{
    margin: 20px 0;
}

.questionAnswer{
    display: none;
    margin: 10px 0px;
}

ul{
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

ul:hover {
    color: orange;
}


.img-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: right;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 170px;
}

.yellow {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.social-media-wrapper{
    display: inline-block;
    align-items: center;
    gap: 10px;
}

a {
    width: 40px;
    display: inline;
}

.socialmedia-img{
    width: auto;
    height: 40px;
}

footer{
    position: fixed;
    bottom: 0px;
}

