#orderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 60vw;
    padding: 5rem 5rem 3rem;
    margin: 3rem 0 7rem;
    box-shadow: 0px 1px 2px 1px #00000018;
    text-align: left;
}

.orderConfirmedTitle {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.orderConfirmedText {
    margin: 0 0 1rem;
    width:50vw;

}

#recieptContainer {
    width:50vw;
    padding: 1rem 0;
}

.orderList {
    width:50vw;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem;
}

.orderListRow {
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 1px #D3D3D3;
    margin: 2rem 0;
}

.imageContainer {
    width: 20rem;
    height: auto;
    overflow: hidden;
    margin-bottom: 2rem;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .description {
    margin: 0 0 1rem 0;
  }

  .itemTitle {
    font-size: 1.2rem;
    margin-bottom: .7rem;
  }