.cart {
    position: fixed;
    padding-top: 40px;
    top: 70px;
    right: 0;
    width: 300px;
    min-height: 500px;
    height: auto;
    background-color: rgba(27, 25, 25, 0.6);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart.open {
    visibility: visible;
    opacity: 1;
    z-index: 4;
}

#cartContainer {
    flex-grow: 1;
    overflow-y: auto;
}

#cart h2 {
    padding: 5px 20px; 
    margin: 0; 
    text-align: center; 
    font-size: 24px; 
}

.cart-item {
    display: flex;
    justify-content: space-between;  
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    height: 120px;
    position: relative;  
}

.cart-item img {
    width: 25%; 
    height: auto;
    max-height: 105px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.cart-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-details h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.cart-item-details p {
    margin: 0;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.cart-item-actions {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    justify-content: flex-start; 
    height: 100%;
    margin-left: 10px; 
}


.remove-btn {
    font-size: 18px; 
    color: #888;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute; 
    top: 10px;  
    right: 10px;  
}

.remove-btn:hover {
    color: #e60000; 
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    bottom: 10px;  
    right: 0;   
}

.quantity button {
    width: 25px; 
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

#checkoutLink {
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

#checkoutLink:hover {
    background-color: white;
    color: black;
}



