.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}

.product-item {
  max-width: 30%;
  overflow: hidden;
  border: 2px solid lightgrey;
  transition: transform .2s; /* Animation */
}

.product-link {
  text-decoration: none;
  color: black;
}


.product-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.product-item img {
  height: 400px;
}

.product-item p {
  padding: 1rem;
}

.product-item-price {
    font-weight: bold;
}


.show-more-products-wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.show-more-products {
  padding: 10px 20px;
  background: lightgrey;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 40px;
}
